@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

//css記述
body{
  background-image:url("https://www.toptal.com/designers/subtlepatterns/uploads/denim.png");
  background-repeat: repeat;
  color: #DDDDDD;
  font-family: 'Noto Serif JP', sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 0;
}


.sidebar {
    width: 20%;
    box-sizing: border-box;
    border-right: 2px solid white;
    padding-top:1.5em;
    padding-left: 5px;
    input{
        width:90%;
    }
    a{
        color: white;
        text-decoration: none;
        &:hover {
            color: #EEFFFF;
            font-weight: bold;
        }
    }
}
@media screen and (max-width: 690px){
    .main {
      display: block
    }
    .sidebar {
        width: 100%;
        box-sizing: border-box;
        border-right: none;
        padding-top:0;
        input{
            width:60%;
        }
    }
    .follower_top{
        display:none;
    }
}
  
.follower_lanking a{
    text-shadow: 0 0 3px #DDDDDD,0 0 8px #DDDDDD;
}

#link_color{
    color: black;
    &:hover{
        color:black;
    }
}
  
.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color:white;
    h1{
      color: #FF3366;
      margin: 0.5em 0 1em 0.5em;
      text-shadow: 0 0 3px red,0 0 8px red;
    }
    h3{
      color: #CC66FF;
      padding-bottom:0.5em;
      text-shadow: 0 0 3px #CC00CC,0 0 8px #CC00CC;
    }
}
@media screen and (max-width: 690px){
    .content{
        width: 100%;
        h1{
          font-size: 150%;
        }
        h3{
          font-size: 130%;
          padding-bottom:0;
        }
        p{
            font-size:120%;
        }
    }
}
.post ul{
    display: -webkit-flex;
    display: flex;
    list-style:none;
    padding-left: 0;
    margin-bottom: 0;
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
}

.post li{
    width:100%;
    padding-left: 1em;
    border-right:1px solid #DDDDDD;
}

/*chat*/
.rank_chat{
    margin: 1.5em 0;
    a{
        color: #DDDDDD;
        text-decoration: none;
        &:hover{
            color: #EEFFFF;
            font-weight: bold;
        }
    }
}