@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

body{
     background-image:url("https://www.toptal.com/designers/subtlepatterns/uploads/denim.png");
     background-repeat: repeat;
     color: #DDDDDD;
     font-family: 'Noto Serif JP', sans-serif;
}

//mypage
.userpage-body{
    padding:10px 5px;
    display:flex;
    // margin-left:20px;
    .my-detail{
        width:30%;
        box-sizing: border-box;
        border-right: double 5px #BBFFFF;
        padding-top: 10px;
        padding-right: 5px;
        padding-left: 1em;
        .user-name{
            color: #FF3366;
            margin:10px 0;
            text-shadow: 0 0 3px red,0 0 8px red;
        }
        .basic-profile img{
            border-radius:50%;
        }
        .my-rank{
            margin-top:1.5em;
        }
        .my-rank h3{
            color: #CC66FF;
            text-shadow: 0 0 3px #CC00CC,0 0 8px #CC00CC;
        }
    }
    .pasts{
        width:70%;
        h2{
            color: #FF3366;
            margin:10px 0;
    		text-shadow: 0 0 3px red,0 0 8px red;
    
        }
    }

}

.past-comment{
    border-bottom:1px solid white;
    padding:30px 10px;
    margin-right:2em;
}

.past-name{
    font-weight: bold;
    color:#BBBBBB;
    font-size:120%;
}

.comment-edit{
    display:flex;
    a{
        color:	#EEEEEE;
        text-decoration: none;
        &:hover{
            color: #EEFFFF;
            font-weight: bold;
        }
    }
    button{
        margin:0 2px;
    }
    &.edit{
        margin:0 2px;
    }
    
    &.comment-delete{
        margin:0 2px;
        button{
            color:#EEEEEE;
        }
    }

}

.edit-date{
    display:flex;
    p{
        margin: 5px 10px 5px 0;
    }
}

.past-reply{
    border-bottom:1px solid white;
    padding:30px 0;
}

.footer{
    padding:10px 5px;
    a{
        color:	#EEEEEE;
        text-decoration: none;
         &:hover{
            color: #EEFFFF;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 900px){
    .userpage-body{
        display:block;
        padding:0;
        h3{
            font-size:200%;
        }
        .pasts{
            width:100%;
        }
        .my-detail{
            width:100%;
            border-right:none;
            border-bottom: double 5px #BBFFFF;
            display:flex;
            margin-bottom:2em;
            padding:1em;
            .my-rank{
                margin:0 1em;
            }
            .basic-profile img{
                margin:0.5em ;
                width:100px;
                height:100px;
            }
            .user-name{
                margin:0 0.5em;
            }
        }
        
        .pasts{
            padding:0 1em;
        }
    }
}

@media screen and (max-width: 550px){
    .userpage-body{
        .my-detail{
            display:block;
            text-align:center;
        }
        .pasts{
            .edit-date{
                display:block;
            }
        }
    }
}

//userpage
.content{
    display:flex;
    .user-detail{
        width:65%;
        padding:0 1em;
        display:flex;
        .user-icon img{
            border-radius:50%;
            margin:0.5em 0;
        }
        h2{
            color: #FF3366;
            margin: 0.5em;
            text-shadow: 0 0 3px red,0 0 8px red;
        }
        h3{
            margin: 0.5em 0;
            color: #CC66FF;
            text-shadow: 0 0 3px #CC00CC,0 0 8px #CC00CC;
        }
        .footer{
            padding-left:0;
        }
        .detail-left{
            width:30%;
            margin-right:2em;
            border-right:1px solid #DDDDDD;
            .user{
                text-align:center;    
            }
            .posts{
                margin:0 auto;
            }
        }
        
        .detail-right{
            width:50%;
        }
    }
    .steam-news{
        border-left:1px solid #DDDDDD;
        width:35%;
        padding:0 1em;
        .news{
            a{
                color:  #DDDDDD;
                text-decoration: none;
                &:hover {
                    color: #EEFFFF;
                    font-weight: bold;
                }
            }
        }
        .game-title{
            color: #CC66FF;
            text-shadow: 0 0 3px #CC00CC,0 0 8px #CC00CC;
        }
        h3{
            margin: 0.5em 0;
            color: #00FFFF;
            text-shadow: 0 0 3px #0000FF,0 0 8px #0000FF;
        }
    }
}
.footer-none{
    display:none;
}

@media screen and (max-width: 900px){
    .content{
        display:block;
        .user-detail{
            display:block;
            width:100%;
            .detail-left{
                display:flex;
                width:100%;
                border-right:none;
                border-bottom: double 5px #BBFFFF;
                .user{
                    width:30%;
                }
                .footer{
                    display:none;
                }
                .follow-modeule{
                    margin:0.5em;
                }
            }
            .detail-right{
                width:100%;
                border-bottom: double 5px #BBFFFF;
            }
        }
        .steam-news{
            width:100%;
        }
        .footer-none{
            display:block;
            padding:10px 5px;
            a{
                color:	#EEEEEE;
                text-decoration: none;
                 &:hover{
                    color: #EEFFFF;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .content{
        .user-detail{
            img{
                width:100px;
                height:100px;
            }
            .detail-left{
                display:block;
                .user{
                    text-align:center;
                    width:100%;
                }
                .posts{
                    text-align:center;
                    .center p{
                        display: inline-block;
                        text-align: left;
                    }
                }
            }
            .detail-right{
                h3{
                    text-align:center;
                }
            }
        }
        .steam-news h3{
            text-align:center;
        } 
    }
}