@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/denim.png");
  background-repeat: repeat;
  color: #ddd;
  font-family: 'Noto Serif JP', sans-serif;
}
.follower-body {
  margin: auto;
  padding: 2em;
  width: 80%;
  text-align: center;
}
.follower-body a {
  color: #eee;
}
.follower-body a:hover {
  color: #eff;
  font-weight: bold;
  text-decoration: none;
}
.follower-body h2 {
  font-size: 3em;
  text-align: center;
  line-height: 0.95em;
  font-weight: bold;
  color: transparent;
  background: repeating-linear-gradient(0deg, #c62828 0.1em, #ef5350 0.2em, #ffebee 0.3em, #ef5350 0.4em, #c62828 0.5em);
  -webkit-background-clip: text;
}
.ranks {
  margin: 0.5em auto;
  width: 50%;
  border-bottom: 1px solid #dcdcdc;
  padding: 0.8em 0;
}
.search-body {
  width: 50%;
  padding-left: 3em;
}
.search-body a {
  color: #ddd;
  text-decoration: none;
}
.search-body a:hover {
  color: #eff;
  font-weight: bold;
}
.search-body h2 {
  color: #f36;
  margin-bottom: 2em 0;
  text-shadow: 0 0 3px red, 0 0 8px red;
}
.search-body .content {
  border-bottom: 1px solid #fbf;
  padding: 1.4em 0 0.8em 0;
}
.search-body .content .padding-bottom {
  margin: 0;
}
.search-body .content .name {
  color: #ddd;
  font-size: 120%;
  text-shadow: 0 0 1px #ddd, 0 0 2px #ddd;
}
