@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/denim.png");
  background-repeat: repeat;
  color: #ddd;
  font-family: 'Noto Serif JP', sans-serif;
}
.edit-body {
  width: 80%;
  padding-left: 3em;
}
.edit-body a {
  color: #ddd;
  text-decoration: none;
}
.edit-body a:hover {
  color: #eff;
  font-weight: bold;
}
.edit-body h2 {
  color: #f36;
  margin-bottom: 2em 0;
  text-shadow: 0 0 3px red, 0 0 8px red;
}
.edit-body .content {
  margin: 2em 0;
}
.edit-body .padding-bottom {
  margin: 0;
}
.edit-body .footer {
  margin: 0 0.5em 0 0;
}
@media screen and (max-width: 520px) {
  .edit-body {
    width: 100%;
    padding-left: 0.5em;
  }
  .edit-body textarea {
    width: 80%;
  }
  .edit-body h2 {
    font-size: 150%;
  }
}
.profile-edit-body {
  padding-left: 1em;
}
.profile-edit-body a {
  color: #ddd;
  text-decoration: none;
}
.profile-edit-body a:hover {
  color: #eff;
  font-weight: bold;
}
.profile-edit-body h3 {
  color: #f36;
  margin-bottom: 2em 0;
  text-shadow: 0 0 3px red, 0 0 8px red;
}
.profile__body label {
  color: #ddd DD;
}
