@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
.header {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/ep_naturalblack.png");
  background-repeat: repeat;
  font-family: 'Noto Serif JP', sans-serif;
}
.header-name {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .navbar-light .navbar-toggler-icon {
    background-image: url("https://cdn.icon-icons.com/icons2/3468/PNG/512/ui_interface_navigation_list_menu_icon_219797.png");
  }
}
