@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/denim.png");
  background-repeat: repeat;
  color: #ddd;
  font-family: 'Noto Serif JP', sans-serif;
}
.userpage-body {
  padding: 10px 5px;
  display: flex;
}
.user-name {
  color: #f36;
  margin: 10px 0;
  text-shadow: 0 0 3px red, 0 0 8px red;
}
.pasts {
  width: 75%;
}
.pasts h2 {
  color: #f36;
  margin: 10px 0;
  text-shadow: 0 0 3px red, 0 0 8px red;
}
.past-comment {
  border-bottom: 1px solid white;
  padding: 30px 10px;
  margin-right: 2em;
}
.past-name {
  font-weight: bold;
  color: #bbb;
  font-size: 120%;
}
.comment-edit {
  display: flex;
}
.comment-edit a {
  color: #eee;
  text-decoration: none;
}
.comment-edit a:hover {
  color: #eff;
  font-weight: bold;
}
.comment-edit button {
  margin: 0 2px;
}
.comment-edit.edit {
  margin: 0 2px;
}
.comment-edit.comment-delete {
  margin: 0 2px;
}
.comment-edit.comment-delete button {
  color: #eee;
}
.edit-date {
  display: flex;
}
.edit-date p {
  margin: 5px 10px 5px 0;
}
.past-reply {
  border-bottom: 1px solid white;
  padding: 30px 0;
}
.my-detail {
  width: 25%;
  box-sizing: border-box;
  border-left: double 5px #bff;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 1em;
}
.my-detail .basic-profile img {
  border-radius: 50%;
}
.my-detail .my-rank {
  margin-top: 1.5em;
}
.my-detail .my-rank h3 {
  color: #c6f;
  text-shadow: 0 0 3px #c0c, 0 0 8px #c0c;
}
.footer {
  padding: 10px 5px;
}
.footer a {
  color: #eee;
  text-decoration: none;
}
.footer a:hover {
  color: #eff;
  font-weight: bold;
}
.content {
  display: flex;
}
.content .user-detail {
  width: 65%;
  padding: 0 1em;
  display: flex;
}
.content .user-detail h2 {
  color: #f36;
  margin: 0.5em 0;
  text-shadow: 0 0 3px red, 0 0 8px red;
}
.content .user-detail h3 {
  margin: 0.5em 0;
  color: #c6f;
  text-shadow: 0 0 3px #c0c, 0 0 8px #c0c;
}
.content .user-detail .footer {
  padding-left: 0;
}
.content .user-detail .detail-left {
  width: 50%;
}
.content .user-detail .detail-right {
  width: 50%;
}
.content .steam-news {
  border-left: 1px solid #ddd;
  width: 35%;
  padding: 1em;
}
.content .steam-news .news a {
  color: #ddd;
  text-decoration: none;
}
.content .steam-news .news a:hover {
  color: #eff;
  font-weight: bold;
}
.content .steam-news h3 {
  margin: 0.5em 0;
  color: #0ff;
  text-shadow: 0 0 3px #00f, 0 0 8px #00f;
}
